
body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: powderblue
}

.centered {
    margin: 0 auto;
    text-align: center;
    width: 800px;
}

.ui-widget {
    margin-top: 25px;
    margin-bottom: 25px;
}